<div class="container">
  <div class="formWrapper">
    <form action="/" method="post" class="form">
      <label for="name">Enter a Location:</label>
      <input type="text" name="location" class="locationInput">
      <input type="submit" value="Send">
    </form>
  </div>

  <div class="wrapper">
    {{#if err}}
    <span>{{err}}</span>
    {{else}}
    <div class="left">
      <div class="leftTop">
        <p>Location:
        </p>
        <span class="location">{{location}}</span>
      </div>
      <div class="leftBottom">
        <img src="{{weatherImg}}" alt="Current Weather Icon">
      </div>

    </div>

    <div class="center"></div>

    <div class="right">
      <ul class="label">
        {{#each stats}}
        <li>{{@key}}:</li>
        {{/each}}
      </ul>
      <ul>
        {{#each stats}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>
</div>